@import "tailwindcss";

:root {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: #000 url("/StudioPic.jpg") center / cover no-repeat fixed;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;

  /* Add our theme colors */
  --primary-blue: #7612fa;
  --primary-green: #fa12e3;
  --primary-gradient: linear-gradient(
    135deg,
    var(--primary-blue),
    var(--primary-green)
  );
  --secondary-gradient: linear-gradient(
    135deg,
    rgba(39, 170, 225, 0.8),
    rgba(98, 177, 97, 0.8)
  );
}

:root::before {
  content: "";
  position: fixed;
  inset: 0;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  z-index: -1;
}

#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: left;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
